<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Style.css" type="text/css" />  

</head>
<body>
    <!--меню-->
    <header>
        <p>This is Header!!!</p>
    </header>

    <!--основной контент-->

    <div class="render-div">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p>© 2015 - MobileStore</p>
    </footer>
</body>

</html>
